<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="a.css">
    <style>
    h1{
        text-align:center;
        font-size:5rem;
        color:transparent;
      -webkit-text-stroke: 2px rgb(0, 128, 77);
    }
    </style>
    <link rel="stylesheet" href="a.css">
  </head>
  <body>
    <h1>Hello I am html file from hi route</h1>
    <a href="/register">Register</a>
    <a href="/about">go to about page</a>
     <a href="user/hi">go to js page</a>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, reprehenderit vel
      tenetur ipsum quidem nostrum aperiam ipsa, optio fugiat ducimus, maiores reiciendis
      incidunt earum autem nulla sit laboriosam labore iusto consequuntur omnis. Dolorem
      exercitationem illum temporibus soluta iure, rem numquam totam pariatur qui natus
      maiores ullam ab laborum commodi incidunt sunt? Commodi nam alias illum pariatur
      similique nihil magnam minus corrupti quaerat, doloribus laborum expedita, nisi
      accusamus, necessitatibus velit enim aperiam quisquam! Cum nam vero, doloribus,
      ullam mollitia delectus, cumque et ea odit minima aperiam quae ratione praesentium
      perferendis culpa nesciunt sed? Dolor nihil ea reiciendis enim repellendus ratione
      quibusdam odio maiores et consequuntur, doloremque esse tempore nemo perferendis
      harum ipsum quas error consequatur tenetur, qui asperiores corporis! Praesentium
      maiores nemo, cum nihil delectus velit. Provident ratione vitae vero architecto iure
      ullam nisi omnis quos eaque rerum, voluptatum vel deserunt nam eius voluptate
      possimus enim sint? Sapiente facilis dicta ducimus ullam ut quidem explicabo
      quaerat, neque praesentium laudantium, eligendi dolores culpa impedit similique a
      quia pariatur reiciendis obcaecati dolorum. Alias quas consectetur quia quae itaque
      nesciunt, nihil dolorum eligendi ad est ipsa, repellat qui animi voluptates
      excepturi neque pariatur minima consequuntur incidunt perspiciatis quis vitae, optio
      officiis sequi. Soluta ab fugiat quae rem sed quibusdam ipsam tempora vitae, eaque
      distinctio illum ea reiciendis non ipsum repudiandae maxime consequatur enim sunt
      dignissimos aut, asperiores quia quos modi magni. Nobis, commodi quas doloremque
      porro repellendus eveniet eum mollitia culpa obcaecati. Sint obcaecati magni
      officiis maxime unde totam tenetur placeat nihil ex pariatur id repudiandae enim
      sequi, cum hic ipsum debitis optio architecto quia inventore soluta eligendi vero
      dolorem ipsam. Fugiat deserunt accusamus quod natus accusantium non iste, obcaecati
      blanditiis repellendus quibusdam voluptates velit molestiae voluptatum minima minus
      dicta atque commodi pariatur sit? Iusto id assumenda nam repellat cumque laborum,
      inventore voluptates at.
    </p>
    <form action="">
        Name:
        <input type="text"><br><br>
         FName:
        <input type="text"><br><br>
         MName:
        <input type="text"><br><br>
         PName:
        <input type="text"><br><br>
        EName:
        <input type="text"><br><br>
         AName:
        <input type="text"><br><br>
         PName:
        <input type="text"><br><br>
         RName:
        <input type="text"><br><br>
    </form>
  </body>
</html>
